* {
  box-sizing: border-box;
}

html,
body {
  background-color: #222;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
  margin: 0;
  padding: 0;
}

html {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1000px) 1fr;
  gap: 1rem;
  overflow-x: hidden;
}

body {
  grid-column: 2;
  padding: 1rem 0;
}

a[href] {
  color: #03befc;
}

a[name="top"] center:nth-of-type(2) {
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  height: 10rem;
  display: grid;
  place-items: center;
  grid-template-rows: minmax(0, 1fr) auto;
  padding-top: 1rem;
}
a[name="top"] center:nth-of-type(2) table,
td {
  border: none;
  text-align: center;
  padding: 0.25rem 0.75rem;
}
a[name="top"] center:nth-of-type(2) tr {
  display: flex;
  justify-content: center;
}

#face {
  height: 100%;
}

@media (min-width: 1000px) {
  a[name="top"] center:nth-of-type(2) {
    width: 100vw;
    margin-left: calc(-100vw / 2 + 1000px / 2);
    margin-right: calc(-100vw / 2 + 1000px / 2);
  }
}
